@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --background: #000000;
  --foreground: #ededed;

  --font-heading: "Bebas Neue", sans-serif;
  --font-body: "Montserrat", sans-serif;
  --font-hero: "Abril Fatface", serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #000000;
  color: #ededed;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

.hero-text {
  font-family: var(--font-hero);
}